{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
<!-- {% load stories_extras %} -->
{% load profiles_extras %}
{% load artworks_extras %}
{% block content %}

<a href="{% url 'link-list' 'date' %}" class='btn btn-sm btn-secondary mb-3'>Go Back To All Resources</a>


<div class='card'>
  <div class="card-body">
    <h4>Resource Link: <a href="{{ object.link_to_resource }}" class='card-title'>{{ object.title }}</a></h4>
      <h5 class='card-subtitle'><a href="{% url 'profile' object.author %}" class='text-muted'>{{ object.author }}</a><img src="{{ object|get_profile_pic_url_from_link }}" class='rounded-circle for-story-profile-pics ml-2'></h5>
    {% if object.description %}
      <p class='lead mt-3'> {{ object.description|linebreaks }}</p>
    {% endif %}
    <div class='d-flex'>
      <p class='text-muted mr-auto'>
        {% if object.states_choices %}
          <em>Applies to: <strong>{{ object.states_choices }}</strong>, </em>
        {% endif %}
        <em>
          Posted: {{ object.date_created }}
          {% if not object|date_created_equal_to_last_updated %}
            (Updated: {{ object.last_updated }})
          {% endif %}
        </em>
      </p>
      <div class="">
        <div class=''><strong>Topic:</strong> {{ object.topic }}</div>
        <div class=''><strong>Category:</strong> {{ object.type }}</div>
        <div class=''><strong>Tags:</strong> {{ object.tags }}</div>
      </div>
    </div>

    {% if request.user == object.author %}
      <a class="btn btn-sm btn-outline-danger" href="{% url 'link-delete' object.id %}">Delete</a>
      <a class="btn btn-sm btn-outline-info" href="{% url 'link-update' object.id %}">Update</a>
    {% endif %}
    <button class='btn btn-sm btn-outline-secondary' disabled>Share This By Right-Clicking and Copying <a href={{ object.get_absolute_url }}>Link!</a></button>
  </div>
</div>

<h2 class='mt-5'>Comments ({{ object|num_comments_from_link }})</h2>
<p>
  <button type="button" class='btn btn-primary' data-toggle='collapse' data-target='#comment'>Post A Comment</button>
</p>
<div class="collapse" id='comment'>
  <div class="container pt-3 ml-3">
    <form method="post"> {% csrf_token %}
      <div class='form-group'>
        {{ comment_form|crispy }}
      <button type="submit" name='theid' value='{{ 0 }}' class='btn btn-secondary'>Submit Comment</button>
      </div>
    </form>
  </div>
</div>

<div class='container'>
  {% for comment in comment_list %}
    <div class="card ml-3 mb-3">
      <div class="card-header py-1">
        <h4 class='card-title m-1'>
          <div class='d-flex'>
            <a href="{% url 'profile' comment.author %}" class='text-dark'>{{ comment.author }}</a><img src="{{ comment|get_profile_pic_url_from_comment }}" class='rounded-circle for-story-profile-pics ml-2'>
            <div class="mr-auto"></div>
            <div class="text-muted">
              <small>
                <em>
                  {{ comment.date_created }}
                  {% if not comment|date_created_equal_to_last_updated %}
                    (Updated: {{ comment.last_updated }})
                  {% endif %}
                </em>
              </small>
            </div>
          </div>
        </h4>
      </div>
      <div class="card-body">
        <p class='card-text'>{{ comment.text }}</p>
        {% if request.user == comment.author %}
          <a class="btn btn-sm btn-outline-danger" href="{% url 'link-comment-delete' comment.id %}">Delete</a>
          <a class="btn btn-sm btn-outline-info" href="{% url 'link-comment-update' comment.id %}">Update</a>
        {% endif %}
      </div>
      <hr class='my-1'>
      <span style='padding-left:20px' class='mb-3'>
        {% if reply_list|filter_repliesinthiscomment_exists:comment.id %}
          <button data-target='#replies{{comment.id}}' type="button" class='btn btn-link' data-toggle='collapse'>
            Replies ↓
          </button>
        {% endif %}
        <div class="btn-group dropright">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reply
          </button>
          <div class="dropdown-menu">
            <div class='card'>
                <form method="post" class='px-2 py-2'> {% csrf_token %}
                  <div class='form-group'>
                    {{ reply_form|crispy }}
                    <button type="submit" name='theid' value='{{ comment.id }}' class='btn btn-secondary'>Submit Reply</button>
                  </div>
                </form>
            </div>
          </div>
        </div>

        <div class="collapse" id="replies{{comment.id}}">
          <div class='container'>
            {% for reply in reply_list %}
              {% if comment.id == reply.comment_id %}
                <div class="card ml-3 my-3">
                  <div class="card-header py-1">
                    <h4 class='card-title m-1'>
                      <div class='d-flex'>
                        <a href="{% url 'profile' reply.author %}" class='text-dark'>{{ reply.author }}</a><img src="{{ reply|get_profile_pic_url_from_reply }}" class='rounded-circle for-story-profile-pics ml-2'>
                        <div class="mr-auto"></div>
                        <div class="text-muted">
                          <small>
                            <em>
                              {{ reply.date_created }}
                              {% if not reply|date_created_equal_to_last_updated %}
                                (Updated: {{ reply.last_updated }})
                              {% endif %}
                            </em>
                          </small>
                        </div>
                      </div>
                    </h4>
                  </div>
                  <div class="card-body">
                    <p class='card-text'>{{ reply.text }}</p>
                    {% if request.user == reply.author %}
                      <a class="btn btn-sm btn-outline-danger" href="{% url 'link-reply-delete' reply.id %}">Delete</a>
                      <a class="btn btn-sm btn-outline-info" href="{% url 'link-reply-update' reply.id %}">Update</a>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </span>
    </div>
  {% empty %}
    <h5 class='text-muted'>No comments posted yet.</h5>
  {% endfor %}
</div>
{% endblock %}
