{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="jumbotron bg-primary text-light">
    <div class="container">
      <h1 class='display-4'> Resources</h1>
      <hr class="my-4">
      <p class='lead'>Empathy is critical to understanding the nature of an issue; being able to acknowledge a person's perspective and how an issue affects their lives is one of the first steps in addressing the problem and standing with each other. The purpose of this platform is to emphasize and foster this empathy. To relate to each others' issues. To see the similarities and differences in our lives.</p>
      <p class='lead'>Yet this cannot be the end-all-be-all. That empathy must be fueled into the capacity to change the issues that are causing the problems in the first place. There are many different avenues possible to tackle the issues and this is not an exhaustive list. You might choose to vote and participate in events for local politics, others might speak out against injustices they see in their daily lives. For each issue we focus on, this is only a starting point for possible resources out of many that can be used to make a difference: </p>
    </div>
  </div>
</div>


{% endblock %}
