{% extends 'base.html' %}
{% load stories_extras %}
{% load profiles_extras %}
{% load pages_extras %}
{% load tz %}
{% block content %}

<div class="container d-none d-sm-none d-md-block">
  <div class="d-flex flex-row-reverse">
    <form class="form-inline justify-right mb-2" method='GET' action='.'>
      {% if request.GET.search_bar %}
        <input id='search_bar' class="form-control mr-2" type="search" name='search_bar' placeholder="Search Stories..." value='Searched for: {{ request.GET.search_bar }}' >
      {% else %}
        <input id='search_bar' class="form-control mr-2" type="search" name='search_bar' placeholder="Search Stories..." >
      {% endif %}
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle='dropdown'>Search</button>
      <div class="dropdown-menu w-25">
        <button name='type_of_search' class='dropdown-item' type='submit' value='everything'>Everything</button>
        <button name='type_of_search' class='dropdown-item' type='submit' value='title'>By Title</button>
        <button name='type_of_search' class='dropdown-item' type='submit' value='content_text'>By Content</button>
        <button name='type_of_search' class='dropdown-item' type='submit' value='name'>By User</button>
        <button name='type_of_search' class='dropdown-item' type='submit' value='tags'>By Tag</button>
      </div>
    </form>
  </div>
</div>

<div class="d-md-none">
  <form class="form-inline mb-2" method='GET' action='.'>
    {% if request.GET.search_bar %}
      <input id='search_bar' class="form-control w-50 mr-2" type="search" name='search_bar' placeholder="Search Stories..." value='Searched for: {{ request.GET.search_bar }}' >
    {% else %}
      <input id='search_bar' class="form-control w-50 mr-2" type="search" name='search_bar' placeholder="Search Stories..." >
    {% endif %}
    <button class="btn btn-success dropdown-toggle" type="button" data-toggle='dropdown'>Search</button>
    <div class="dropdown-menu w-25">
      <button name='type_of_search' class='dropdown-item' type='submit' value='everything'>Everything</button>
      <button name='type_of_search' class='dropdown-item' type='submit' value='title'>By Title</button>
      <button name='type_of_search' class='dropdown-item' type='submit' value='content_text'>By Content</button>
      <button name='type_of_search' class='dropdown-item' type='submit' value='name'>By User</button>
      <button name='type_of_search' class='dropdown-item' type='submit' value='tags'>By Tag</button>
    </div>
  </form>
</div>

<div class="row mb-2">
  <div class="col-md-3 mb-2">
      <div class="btn-group btn-group-sm" role='group' aria-label='ButtonGroup'>
        {% if content_type == 'pictures' %}
          <a href='{{ request.path }}../everything/' class="btn btn-outline-secondary w-50 pt-1">Story Text & Pictures(Default)</a>
          <a href='{{ request.path }}../pictures/' class="btn btn-outline-secondary w-50 active">Story Pictures Only (Mural)</a>
        {% else %}
          <a href='{{ request.path }}../everything/' class="btn btn-outline-secondary w-50 pt-1 active">Story Text & Pictures(Default)</a>
          <a href='{{ request.path }}../pictures/' class="btn btn-outline-secondary w-50">Story Pictures Only (Mural)</a>
        {% endif %}
      </div>
  </div>

  <div class="container d-md-none">
    <div class="card m-2">
      <div class="card-header bg-primary">
        <h5 class='text-white mt-1 mb-0'>
          Topics
          <button class="float-right btn-primary" name="button" data-target='#topicsStories' data-toggle='collapse' aria-expanded="true" aria-controls="topicsStories">
            &darr;
          </button>
        </h5>
      </div>
      <div id="topicsStories" class="collapse" aria-labelledby="stories" >
        <ul class='list-group list-group-flush'>
          <!-- All Issues -->
          {% if request|has_multiple_issues %}
            <li class="list-group-item active"><a href="{% url 'story-list' content_type %}" class='text-light'>All Topics</a></li>
          {% else %}
            <li class="list-group-item"><a href="{% url 'story-list' content_type %}" class='text-primary'>All Topics</a></li>
          {% endif %}
          <!-- Each Issue -->
          {% for issue in request|all_issues %}
            {% if request|only_issue:issue.name %}
              <li class="list-group-item active"><a href="{% url 'story-issue' issue content_type %}" class='text-white'>{{ issue.name }}</a></li>
            {% else %}
              <li class="list-group-item"><a href="{% url 'story-issue' issue content_type %}" class='text-primary'>{{ issue.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="container-fluid">
      <nav class='navbar navbar-dark bg-primary navbar-expand-md rounded mb-2'>
        <div class="d-md-none">
          <a class="navbar-brand" href="#">Categories</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarStoryList" aria-controls="navbarStoryList" aria-expanded="false" aria-label="Stories">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id='navbarStoryList'>
          <div class="navbar-nav">
            {% if request|has_multiple_issues %}
              {% check_everything content_type as the_url %}
              {% if request.path == the_url %}
                <a class="nav-item nav-link active" href="{{ the_url }}">All</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ the_url }}">All</a>
              {% endif %}
              {% for category in request|all_categories %}
                {% check_category_all_issues_url category.name content_type as the_url %}
                {% if request.path == the_url %}
                  <a class="nav-item nav-link active" href="{{ the_url }}">{{ category.name }}</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ the_url }}">{{ category.name }}</a>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% for issue in request|all_issues %}
              {% if request|only_issue:issue.name %}
                {% check_issue_all_categories_url issue.name content_type as the_url %}
                {% if request.path == the_url %}
                  <a class="nav-item nav-link active" href="{{ the_url }}">All</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ the_url }}">All</a>
                {% endif %}
                {% for category in issue|return_all_categories_for_issue %}
                  {% check_issue_category_url issue.name category.name content_type as the_url %}
                  {% if request.path == the_url %}
                    <a class="nav-item nav-link active" href="{{ the_url }}">{{ category.name }}</a>
                  {% else %}
                    <a class="nav-item nav-link" href="{{ the_url }}">{{ category.name }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>



<div class='container'>
  <div class="row">
    <div class="col-md-3">
      <div class="row d-none d-sm-none d-md-block">
        <div class="card mb-5 w-100 mr-2">
          <div class="card-header">
            Topics
          </div>
          <ul class='list-group list-group-flush'>
            {% if request|has_multiple_issues %}
              <li class="list-group-item active"><a href="{% url 'story-list' content_type %}" class='text-light'>All Topics</a></li>
            {% else %}
              <li class="list-group-item"><a href="{% url 'story-list' content_type %}" class='text-primary'>All Topics</a></li>
            {% endif %}
            {% for issue in request|all_issues %}
              {% if request|only_issue:issue.name %}
                <li class="list-group-item active"><a href="{% url 'story-issue' issue content_type %}" class='text-white'>{{ issue.name }}</a></li>
              {% else %}
                <li class="list-group-item"><a href="{% url 'story-issue' issue content_type %}" class='text-primary'>{{ issue.name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row d-none d-sm-none d-md-block">
        <div class="card mb-5 w-100 mr-2 ">
          <div class="card-header">
            Share today
          </div>
          <ul class='list-group list-group-flush'>
            <li class="list-group-item"><a href="{% url 'story-create' %}">Post a story</a></li>
            <li class="list-group-item"><a href="{% url 'photo-create' %}">Post an image/video</a></li>
            <li class="list-group-item"><a href="{% url 'link-create' %}">Share a resource</a></li>
          </ul>
        </div>
      </div>

      <div class="row d-none d-sm-none d-md-block">
        <div class="card mr-2">
          <div class="card-header">
            Resources and Links to Support
          </div>
          <ul class='list-group list-group-flush'>
            <li class="list-group-item"><a href="{% url 'home' %}">Check out our home page with an overview!</a></li>
            <li class="list-group-item"><a href="{% url 'link-list' 'date' %}">Check out categorized and detailed resources submitted by others!</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      {% if content_type == 'pictures' %}
        <div class="card-columns">
          {% for object in object_list %}
            <div class="card m-0">
              <a href="{{ object.get_absolute_url }}"><img src="{{ object.picture.url }}" class='card-img rounded' alt="Card image"></a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% if request.user.profile.choice_view == 'TWO' or not request.user.is_authenticated %}
          <div class="row row-cols-1 row-cols-md-2">
            {% for object in object_list %}
              <div class="col mb-4">
                <div class='card mb-4 h-100'>
                  <div class="card-header">
                    <a href="{% url 'profile' object.name %}" class='text-primary'>{{ object.name }}</a><img src="{{ object|get_profile_pic_url_from_story }}" class='rounded-circle for-story-profile-pics ml-2'>
                  </div>
                  {% if object.picture %}
                      <img src="{{ object.picture.url }}" class='figure-img img-fluid rounded'>
                  {% endif %}
                  <div class="card-body pb-0">
                    <h5 class='card-title mb-1'><a href={{ object.get_absolute_url }}>{{ object.title }}</a></h5>
                    <h6 class='card-subtitle text-muted mb-1'>
                      <small>
                        {% if object.name.profile.first_name and object.name.profile.last_name %}
                          {{ object.name.profile.first_name}} {{object.name.profile.last_name }}
                        {% elif object.name.profile.first_name %}
                          {{ object.name.profile.first_name }}
                        {% elif object.name.profile.last_name %}
                          {{ object.name.profile.last_name }}
                        {% else %}
                         {{ object.name }}
                        {% endif %}
                        <span>, </span>
                        <em>{{ object.date_created|localtime }}</em>
                      </small>
                    </h6>
                    <div class='card-text'>
                      {% if object.picture %}
                          {{ object.content_text|truncatechars:500 }}
                      {% else %}
                          {{ object.content_text|truncatechars:700 }}
                      {% endif %}
                      <span><small><a href="{% url 'story-detail' object.id %}">read more in full post...</a></small></span>
                    </div>
                    {% if object|num_comments_from_story == 1 %}
                      <div class='text-muted d-flex'>
                        <div class='mr-auto p-2'><small>{{ object|num_comments_from_story }} comment</small></div>
                        <div class='p-2'><small><strong>Tags:</strong> {{ object.tags }}</small></div>
                      </div>
                    {% else %}
                      <div class='text-muted d-flex'>
                        <div class='mr-auto p-2'><small>{{ object|num_comments_from_story }} comments</small></div>
                        <div class='p-2'><small><strong>Tags:</strong> {{ object.tags }}</small></div>
                      </div>
                    {% endif %}
                    {% if request.user == object.name %}
                      <a class="btn btn-sm btn-outline-danger" href="{% url 'story-delete' object.id %}">Delete</a>
                      <a class="btn btn-sm btn-outline-info" href="{% url 'story-update' object.id %}">Update</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="">
            {% for object in object_list %}
              <div class="col mb-4">
                <div class='card mb-4 h-100'>
                  <div class="card-header">
                    <a href="{% url 'profile' object.name %}" class='text-primary'>{{ object.name }}</a><img src="{{ object|get_profile_pic_url_from_story }}" class='rounded-circle for-story-profile-pics ml-2'>
                  </div>
                  {% if object.picture %}
                      <img src="{{ object.picture.url }}" class='figure-img img-fluid rounded'>
                  {% endif %}
                  <div class="card-body">
                    <h5 class='card-title mb-1'><a href={{ object.get_absolute_url }}>{{ object.title }}</a></h5>
                    <h6 class='card-subtitle text-muted mb-1'>
                      <small>
                        {% if object.name.profile.first_name and object.name.profile.last_name %}
                          {{ object.name.profile.first_name}} {{object.name.profile.last_name }}
                        {% elif object.name.profile.first_name %}
                          {{ object.name.profile.first_name }}
                        {% elif object.name.profile.last_name %}
                          {{ object.name.profile.last_name }}
                        {% else %}
                         {{ object.name }}
                        {% endif %}
                        <span>, </span>
                        <em>{{ object.date_created|localtime }}</em>
                      </small>
                    </h6>
                    <div class="card-text">
                      {% if object.picture %}
                        {{ object.content_text|truncatechars:500 }}
                      {% else %}
                        {{ object.content_text|truncatechars:700 }}
                      {% endif %}
                      <span><small><a href="{% url 'story-detail' object.id %}">read more in full post...</a></small></span>
                    </div>
                    {% if object|num_comments_from_story == 1 %}
                      <div class='text-muted d-flex'>
                        <div class='mr-auto p-2'><small>{{ object|num_comments_from_story }} comment</small></div>
                        <div class='p-2'><small><strong>Topic:</strong> {{ object.issue_to_write_about }}, <strong>Category:</strong> {{ object.category_to_write_about }}, <strong>Tags:</strong> {{ object.tags }}</small></div>
                      </div>
                    {% else %}
                      <div class='text-muted d-flex'>
                        <div class='mr-auto p-2'><small>{{ object|num_comments_from_story }} comments</small></div>
                        <div class='p-2'><small><strong>Topic:</strong> {{ object.issue_to_write_about }}, <strong>Category:</strong> {{ object.category_to_write_about }}, <strong>Tags:</strong> {{ object.tags }}</small></div>
                      </div>
                    {% endif %}
                    {% if request.user == object.name %}
                      <a class="btn btn-sm btn-outline-danger" href="{% url 'story-delete' object.id %}">Delete</a>
                      <a class="btn btn-sm btn-outline-info" href="{% url 'story-update' object.id %}">Update</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
    {% if not request|a_search %}
      {% if is_paginated %}
        <ul class='pagination'>
          {% if page_obj.has_previous %}
            <li class='page-item'><a class ='page-link' href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
            <li class='page-item disabled'><a class ='page-link' href="#">Previous</a></li>
          {% endif %}

          {% if page_obj.number >= 5 %}
            <li class='page-item'><a class ='page-link' href="?page={{ 1 }}">1</a></li>
          {% endif %}


          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class='page-item active'><a class ='page-link' href="?page={{ num }}">{{ num }}</a></li>
            {% elif num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
              {% if num == page_obj.number|add:'-3' and num != 2 and num != 1 %}
                <li class='page-item'><a class ='page-link' href="?page={{ num|add:'1'|divide:2 }}">...</a></li>
              {% elif num == page_obj.number|add:'3' and num != page_obj.paginator.num_pages|add:'-1'  and num != page_obj.paginator.num_pages %}
                <li class='page-item'><a class ='page-link' href="?page={{ num|add:page_obj.paginator.num_pages|divide:2 }}">...</a></li>
              {% else %}
                <li class='page-item'><a class ='page-link' href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if page_obj.number <= page_obj.paginator.num_pages|add:'-4' %}
            <li class='page-item'><a class ='page-link' href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
          {% endif %}

          {% if page_obj.has_next %}
            <li class='page-item'><a class ='page-link' href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
            <li class='page-item disabled'><a class ='page-link' href="#">Next</a></li>
          {% endif %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
